body {
    height: 100vh;
    min-height: 375px;
    min-width: 325px;
}

body > header {
    position: absolute;
    top: 0;
}

body > footer {
    bottom: 0;
    position: absolute;
}

body > main {
    display: flex;
    flex-direction: row;
    margin: 110px 0 86px 0;
    min-width: 1280px;
}

#about-me {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.5em;
}

#about-me .icon {
    margin: 0 0.25em;
}

#about-me > .official {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

#about-me > .official > .profile-picture {
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 145px;
}

#about-me > .official > .profile-picture img {
    filter: sepia(40%) brightness(105%);
    width: 200px;
    height: 200px;
}

#about-me > .official > h1 {
    font-size: 1.5em;
    margin-bottom: 0.25em;
    margin-top: 0.5em;
}

#about-me > .official > h2 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
}

#about-me > .official > h2::before {
    content: "alias ";
    font-size: 0.75em;
    font-style: italic;
}

#about-me > .official > .links {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-top: 0.25em;
}

#about-me > .social {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

#about-me a {
    margin: 0.125em;
}

body > main > .separator {
    border-right: 1px solid lightgray;
    margin-right: 0.25em;
    width: 0px;
}

#artifacts {
    align-content: flex-start;
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    justify-content: space-between;
    overflow: auto;
    padding: 0.5em 0;
}

#artifacts .artifact {
    background-color: white;
    border: 1px solid lightgray;
    flex-grow: 1;
    margin: 0.5em 1em;
    padding: 0.2em;
    width: 14em;
}

#artifacts .artifact:hover {
    background-color: #f0faff;
    border-color: #268bd2;
}

#artifacts .artifact header {
    color: black;
    font-weight: bold;
    margin-bottom: 0.2em;
}

#artifacts .artifact summary {
    color: dimgray;
    max-height: 8ch;
    overflow: hidden;
    text-overflow: ellipsis;
}

#artifacts .stopper {
    flex-grow: 50;
    margin: 0.5em 1em;
    text-align: center;
    width: 14em;
}

@media (max-width: 1280px) {
    body > main {
        align-self: stretch;
        min-width: unset;
    }
}

@media (min-width: 466px) {
    @media (max-height: 735px) {
        #about-me > .official {
            margin-bottom: 0.5em;
        }

        #about-me > .official > .profile-picture {
            display: none;
        }

        #about-me > .official > h1 {
            margin-bottom: 0;
            margin-top: 0;
        }
    }

    @media (max-height: 505px) {
        #about-me > .official > .links {
            align-self: stretch;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        #about-me .icon {
            align-items: center;
            display: flex;
            font-size: 1.5em;
            height: 24px;
            justify-content: center;
            margin: 0;
            width: 24px;
        }

        #about-me .text {
            display: none;
        }

        #about-me > .social {
            align-content: space-between;
            flex-flow: row wrap;
            height: 146px;
            justify-content: space-between;
            width: 146px;
        }

        #about-me > .social > a {
            margin: 0;
            padding: 0.5em;
        }

        #about-me > .social > .deviantart {
            order: 8;
        }

        #about-me > .social > .facebook {
            order: 1;
        }

        #about-me > .social > .flickr {
            order: 5;
        }

        #about-me > .social > .github {
            order: 3;
        }

        #about-me > .social > .instagram {
            order: 2;
        }

        #about-me > .social > .lastfm {
            order: 6;
        }

        #about-me > .social > .linkedin {
            order: 4;
        }

        #about-me > .social > .tumblr {
            order: 7;
        }

        #about-me > .social > .twitter {
            order: 0;
        }
    }
}

@media (max-width: 465px) {
    body {
        height: auto;
    }

    body > main {
        align-items: center;
        flex-direction: column;
    }

    #about-me {
        align-items: center;
        flex-direction: row;
    }

    #about-me > .official {
        border-right: 2px dotted black;
        margin-right: 0.5em;
        padding-right: 1em;
    }

    #about-me > .social {
        align-items: flex-start;
    }

    #about-me > .social > a > .icon {
        text-align: center;
        width: 16px;
    }

    #artifacts .artifact,
    #artifacts .stopper {
        width: auto;
    }
}

@media (max-height: 460px) {
    body > header h1 {
        font-size: 1.5em;
    }

    body > main {
        margin-bottom: 62px;
        margin-top: 78px;
    }
}

