body {
    height: 100vh;
}

body > main {
    align-self: stretch;
    display: flex;
    flex-direction: row;
}

#about {
    border-right: 1px solid lightgray;
    padding: 0.5em 1em;
}

#about > header {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

#about > header .crop {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 145px;
}

#about > header .crop img {
    filter: sepia(40%) brightness(105%);
}

#about > header h1 {
    font-size: 1.4em;
    margin: 0.2em 0;
}

#about > header h2 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
}

#about > header h2::before {
    content: "alias ";
    font-size: 0.75em;
    font-style: italic;
}

#about > .social {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    margin: 1em 0;
}

#about > .social a .fa {
    margin: 0 0.2em;
}

#artifacts {
    align-content: flex-start;
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    justify-content: space-between;
    overflow-x: auto;
    padding: 0.5em 0;
}

#artifacts .artifact {
    background-color: white;
    border: 1px solid lightgray;
    flex-grow: 1;
    margin: 0.5em 1em;
    padding: 0.2em;
    width: 14em;
}

#artifacts .artifact:hover {
    background-color: #f0faff;
    border-color: #268bd2;
}

#artifacts .artifact header {
    color: black;
    font-weight: bold;
    margin-bottom: 0.2em;
}

#artifacts .artifact summary {
    color: dimgray;
    max-height: 8ch;
    overflow: hidden;
    text-overflow: ellipsis;
}

#artifacts .stopper {
    flex-grow: 50;
    margin: 0.5em 1em;
    text-align: center;
    width: 14em;
}

@media (max-width: 450px) {
    body {
        height: auto;
    }

    body > main {
        align-items: center;
        flex-direction: column;
    }

    #about {
        border: none;
    }

    #about > .social {
        border-right: 2px solid black;
        padding-right: 0.5em;
    }

    #artifacts .artifact,
    #artifacts .stopper {
        width: auto;
    }
}
