<section id="about-me">
    <section class="official">
        <div class="profile-picture">
            <img src="https://www.gravatar.com/avatar/13b7d553a8fcdb0b967fc72b9b3c1afa.jpg?s=800">
        </div>
        <h1>Dudás Ádám</h1>
        <h2>siliconbrain</h2>
        <div class="links">
            <a class="resume" href="https://siliconbrain.github.io/resume/" title="Resume"><i class="fa fa-user icon"></i><span class="text">resume</span></a>
            <a class="email" href="mailto:sir.dudas.adam@gmail.com" title="Email"><i class="fa fa-envelope icon"></i><span class="text">email</span></a>
        </div>
    </section>
    <section class="social">
        <a class="deviantart" href="http://siliconbrain.deviantart.com/" title="Deviant Art"><i class="fa fa-deviantart icon"></i><span class="text">deviantArt</span></a>
        <a class="facebook" href="https://www.facebook.com/siliconbrain" title="Facebook"><i class="fa fa-facebook icon"></i><span class="text">facebook</span></a>
        <a class="flickr" href="https://www.flickr.com/photos/siliconbrainstream/" title="Flickr"><i class="fa fa-flickr icon"></i><span class="text">flickr</span></a>
        <a class="github" href="https://github.com/siliconbrain" title="Github"><i class="fa fa-github icon"></i><span class="text">github</span></a>
        <a class="instagram" href="https://www.instagram.com/silicon.brain/" title="Instagram"><i class="fa fa-instagram icon"></i><span class="text">instagram</span></a>
        <a class="lastfm" href="http://www.last.fm/user/siliconbrain" title="Last.fm"><i class="fa fa-lastfm icon"></i><span class="text">last.fm</span></a>
        <a class="linkedin" href="https://hu.linkedin.com/in/siliconbrain" title="LinkedIn"><i class="fa fa-linkedin icon"></i><span class="text">linkedin</span></a>
        <a class="tumblr" href="https://www.tumblr.com/blog/siliconbrain" title="Tumblr"><i class="fa fa-tumblr icon"></i><span class="text">tumblr</span></a>
        <a class="twitter" href="https://twitter.com/siliconbrain" title="Twitter"><i class="fa fa-twitter icon"></i><span class="text">twitter</span></a>
    </section>
</section>
<div class="separator"></div>
<section id="artifacts">
    {{#each artifacts}}
    <a class="artifact" href="{{this.url}}">
        <header>{{this.header}}</header>
        <summary>{{this.summary}}</summary>
    </a>
    {{/each}}
    <div class="stopper">
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </div>
</section>
