<section id="about-me">
    <header>
        <section class="profile-picture">
            <img src="https://www.gravatar.com/avatar/13b7d553a8fcdb0b967fc72b9b3c1afa.jpg?s=200">
        </section>
        <h1>Dudás Ádám</h1>
        <h2>siliconbrain</h2>
    </header>
    <section class="social">
        <a class="email" href="mailto:sir.dudas.adam@gmail.com"><i class="fa fa-envelope"></i><span>email</span></a>
        <a class="deviantart" href="http://siliconbrain.deviantart.com/"><i class="fa fa-deviantart"></i><span>deviantArt</span></a>
        <a class="facebook" href="https://www.facebook.com/siliconbrain"><i class="fa fa-facebook"></i><span>facebook</span></a>
        <a class="flickr" href="https://www.flickr.com/photos/siliconbrainstream/"><i class="fa fa-flickr"></i><span>flickr</span></a>
        <a class="github" href="https://github.com/siliconbrain"><i class="fa fa-github"></i><span>github</span></a>
        <a class="instagram" href="https://www.instagram.com/siliconbrainsilver/"><i class="fa fa-instagram"></i><span>instagram</span></a>
        <a class="lastfm" href="http://www.last.fm/user/siliconbrain"><i class="fa fa-lastfm"></i><span>last.fm</span></a>
        <a class="linkedin" href="https://hu.linkedin.com/in/siliconbrain"><i class="fa fa-linkedin"></i><span>linkedin</span></a>
        <a class="twitter" href="https://twitter.com/siliconbrain"><i class="fa fa-twitter"></i><span>twitter</span></a>
    </section>
</section>
<div class="separator"></div>
<section id="artifacts">
    {{#each artifacts}}
    <a class="artifact" href="{{this.url}}">
        <header>{{this.header}}</header>
        <summary>{{this.summary}}</summary>
    </a>
    {{/each}}
    <div class="stopper">
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </div>
</section>
